@using CSRMGMT.Models
@model List<Milestone>
@addTagHelper "*, Microsoft.AspNetCore.Mvc.TagHelpers"

@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    ViewData["title"] = "Manage Milestone";
}

<div class="nk-block-head nk-block-head-lg wide-sm">
    <div class="nk-block-head-content">
        <h2 class="nk-block-title fw-normal">Manage Milestones</h2>
    </div>
</div><!-- .nk-block-head -->
<div class="nk-block nk-block-lg">
    <div class="nk-block nk-block-lg">
        <div class="card card-bordered card-preview">
            <div class="card-inner">
                <div class="row gy-4 pb-3">
                    <div class="col-md-12">
                        <div class="text-right">
                            <a asp-controller="Project" asp-action="Index" class="btn badge-primary">Project List</a>
                        </div>
                    </div>
                </div>
                <div id="accordion-1" class="accordion accordion-s2">
                    <table class="datatable-init-export table table-tranx table_custom table-bordered " data-export-title="Export">
                        <thead>
                            <tr>
                                <th>Description</th>
                                <th>Target Date</th>
                                <th>Status</th>
                                <th>Status Description</th>
                                <th>File Upload</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var milestone in Model)
                            {
                                <tr>
                                    <td>@milestone.Description</td>
                                    <td>@milestone.TargetDate.ToString("yyyy-MM-dd")</td>
                                    <td>
                                        @if (milestone.Status == "Pending")
                                        {
                                            <span class="text text-primary">@milestone.Status</span>
                                        }
                                        else if (milestone.Status == "In Progress")
                                        {
                                            <span class="text text-danger">@milestone.Status</span>
                                        }
                                        else if (milestone.Status == "Completed")
                                        {
                                            <span class="text text-success">@milestone.Status</span>
                                        }
                                        else
                                        {
                                            <span class="text text-info">@milestone.Status</span>
                                        }

                                    </td>
                                    <td>@milestone.StatusDescription</td>
                                    <td><a href="~/uploads/project/@milestone.StatusFilePath" target="_abc"><em class="icon ni ni-download"></em></a></td>
                                </tr>
                            }
                        </tbody>
                    </table>

                    @section Scripts {
                        <script>
                            $(document).ready(function () {

                                var rowIdx = @Model.Count;

                                $('#addRow').on('click', function () {
                                    $('#milestoneTable tbody').append(`
                                                                                                                                                                <tr>
                                                                                                                                                                    <td><input type="hidden" name="[` + rowIdx + `].CsrProjectId" value="@ViewBag.CsrProjectid" class="form-control" /><input type="text" name="[` + rowIdx + `].Description" class="form-control" /></td>
                                                                                                                                                                    <td><input type="date" name="[` + rowIdx + `].TargetDate" class="form-control" /></td>
                                                                                                                                                                    <td><input type="text" name="[` + rowIdx + `].Status" class="form-control" /></td>
                                                                                                                                                                    <td><button type="button" class="btn btn-danger remove-row">Remove</button></td>
                                                                                                                                                                </tr>
                                                                                                                                                            `);
                                    rowIdx++;
                                });

                                $('#milestoneTable').on('click', '.remove-row', function () {
                                    $(this).closest('tr').remove();
                                });
                            });
                        </script>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
