@using CSRMGMT.Areas.CClient.ViewModels
@model MilestoneViewModel
@addTagHelper "*, Microsoft.AspNetCore.Mvc.TagHelpers"

@{
    Layout = "~/Areas/CClient/Views/Shared/_Layout.cshtml";
    ViewData["title"] = "Manage Milestone";
}

<div class="nk-block-head nk-block-head-lg wide-sm">
    <div class="nk-block-head-content">
        <h2 class="nk-block-title fw-normal">Manage Milestones</h2>
    </div>
</div><!-- .nk-block-head -->
<div class="nk-block nk-block-lg">
    <div class="nk-block nk-block-lg">
        <div class="card card-bordered card-preview">
            <div class="card-inner">
                <div class="row gy-4 pb-3">
                    <div class="col-md-12">
                        <div class="text-right">
                            <a asp-controller="Project" asp-action="Index" class="btn badge-primary">Project List</a>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="nk-block-head nk-block-head-lg wide-sm">
                            <div class="nk-block-head-content">
                                <h3 class="nk-block-title fw-normal">Add New Milestone</h3>
                            </div>
                        </div><!-- .nk-block-head -->
                        @if (TempData["Error"]!=null)
                        {
                            <div class="alert alert-danger">@TempData["Error"]</div>
                        }
                       
                        <!-- Add New Milestone Form -->
                        <form asp-action="Milestone" method="post" enctype="multipart/form-data">
                            <div class="row gy-3">
                                <input type="hidden" asp-for="Milestone.Id" />
                                <input type="hidden" asp-for="Milestone.StatusFilePath" />
                                <div class="form-group col-sm-6">
                                    <label for="Description">Description<span class="text-danger">*</span></label>
                                    <input type="text" asp-for="Milestone.Description" class="form-control" id="Description" />
                                    <span asp-validation-for="Milestone.Description" class="text-danger" />
                                </div>

                                <div class="form-group col-sm-6">
                                    <label for="TargetDate">Target Date<span class="text-danger">*</span></label>
                                    <input type="date" class="form-control" id="TargetDate" asp-for="Milestone.TargetDate" />
                                    <span asp-validation-for="Milestone.TargetDate" class="text-danger" />
                                </div>
                                <div class="form-group col-sm-6">
                                    <label for="Status">Status<span class="text-danger">*</span></label>
                                    <select class="form-control" id="Status" asp-for="Milestone.Status">
                                        <option value="Pending">Pending</option>
                                        <option value="Completed">Completed</option>
                                        <option value="In Progress">In Progress</option>
                                    </select>
                                    <span asp-validation-for="Milestone.Status" class="text-danger" />
                                </div>
                                <div class="form-group col-sm-6">
                                    <label for="Description">Status Description<span class="text-danger">*</span></label>
                                    <input type="text" class="form-control" id="StatusDescription" asp-for="Milestone.StatusDescription" />
                                    <span asp-validation-for="Milestone.StatusDescription" class="text-danger" />
                                </div>
                                <div class="form-group col-sm-6">
                                    <label class="form-label" for="default-01">Status File Upload</label>
                                    <div class="form-control-wrap">
                                        <input asp-for="Milestone.StatusFileUpload" type="file" class="form-control" placeholder="File Upload" />
                                        @if (Model.Milestone != null)
                                        {
                                            <a href="~/uploads/project/@Model.Milestone.StatusFilePath" target="_abc"><em class="icon ni ni-download"></em></a>
                                        }

                                        <span asp-validation-for="Milestone.StatusFileUpload" class="text-danger" />
                                    </div>
                                </div>
                                <!-- Hidden input for CsrProjectId -->
                                <input type="hidden" name="Milestone.CsrProjectId" value="@ViewBag.CsrProjectId" />

                            </div>
                            @{
                                string buttonText = "Add Milestone";
                                if (Model.Milestone.Id!= 0)
                                {
                                     buttonText = "Update Milestone";
                                }
                            }
                            <button type="submit" class="btn btn-primary mb-3">@buttonText</button>
                        </form>

                        <!-- List of Milestones -->
                        @if (Model.Milestone.Id == 0)
                        {
                            <hr />
                            <div class="nk-block-head-content mb-3 mt-3">
                                <h3 class="nk-block-title fw-normal">List of Milestones</h3>
                            </div>
                            <table class="datatable-init-export table table-tranx table_custom table-bordered " data-export-title="Export">
                                <thead>
                                    <tr>
                                        <th>Description</th>
                                        <th>Target Date</th>
                                        <th>Status</th>
                                        <th>Status Description</th>
                                        <th>File Upload</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var milestone in Model.MilestoneList)
                                    {
                                        <tr>
                                            <td>@milestone.Description</td>
                                            <td>@milestone.TargetDate.ToString("yyyy-MM-dd")</td>
                                            <td>@milestone.Status</td>
                                            <td>@milestone.StatusDescription</td>
                                            <td><a href="~/uploads/project/@milestone.StatusFilePath" target="_abc"><em class="icon ni ni-download"></em></a></td>
                                            <td>
                                                <ul class="action_list p-0 d-flex">
                                                    <li><a onclick="return confirm('Are you sure to delete this record?');" asp-controller="Project" title="Delete Milestone" asp-action="DeleteMilestone" asp-route-id="@milestone.Id" class="bg-danger"><i class="bi bi-trash"></i></a></li>
                                                    <li><a asp-controller="Project" asp-action="Milestone" asp-route-pid="@milestone.CsrProjectId" asp-route-mid="@milestone.Id" class="bg-secondary" title="Update Milestone"><i class="bi bi-pencil-square"></i></a></li>
                                                </ul>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        }

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
