@model dynamic
@{
    Layout = "~/Areas/Agency/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "My Profile";
}


 <div class="nk-block nk-block-lg">
    <div class="card">
        <div class="card-aside-wrap">
            <div class="card-inner card-inner-lg">
                <div class="nk-block-head nk-block-head-lg">
                    <div class="nk-block-between">
                        <div class="nk-block-head-content">
                            <h4 class="nk-block-title">My Profile</h4>
                           @*  <div class="nk-block-des">
                                <p>Basic info, like your name and address, that you use on Nio Platform.</p>
                            </div> *@
                        </div>
                        @* <div class="nk-block-head-content align-self-start d-lg-none">
                            <a href="#" class="toggle btn btn-icon btn-trigger mt-n1" data-target="userAside"><em class="icon ni ni-menu-alt-r"></em></a>
                        </div> *@
                    </div>
                </div><!-- .nk-block-head -->
                <div class="nk-block">
                    <div class="nk-data data-list">
                        @* <div class="data-head">
                            <h6 class="overline-title">Basics</h6>
                        </div> *@
                       
                        <div class="data-item" >
                            <div class="data-col">
                                <span class="data-label">Company Name</span>
                                <span class="data-value">@Model.Client.Name</span>
                            </div>
                            
                        </div><!-- data-item -->
                        
                        <div class="data-item">
                            <div class="data-col">
                                <span class="data-label">Email</span>
                                <span class="data-value">@Model.Client.Email</span>
                            </div>
                        </div><!-- data-item -->
                        <div class="data-item">
                            <div class="data-col">
                                <span class="data-label">Phone No.</span>
                                <span class="data-value">@Model.Client.ContactNumber</span>
                            </div>
                        </div><!-- data-item -->
                        <div class="data-item">
                            <div class="data-col">
                                <span class="data-label">Address</span>
                                <span class="data-value">@Model.Client.Address</span>
                            </div>
                        </div><!-- data-item -->
                        <div class="data-item">
                            <div class="data-col">
                                <span class="data-label">City</span>
                                <span class="data-value">@Model.Client.City</span>
                            </div>
                        </div><!-- data-item -->
                        <div class="data-item">
                            <div class="data-col">
                                <span class="data-label">State</span>
                                <span class="data-value">@Model.Client.State.StateName</span>
                            </div>
                        </div><!-- data-item -->
                        <div class="data-item">
                            <div class="data-col">
                                <span class="data-label">Zip Code</span>
                                <span class="data-value">@Model.Client.PostalCode</span>
                            </div>
                        </div><!-- data-item -->
                    </div><!-- data-list -->
                </div><!-- .nk-block -->
            </div>
            
        </div><!-- .card-aside-wrap -->
    </div>
</div> 
